.button {
  min-width: 108px;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  transition: all 0.1s ease-out;

  &:active {
    scale: 1.1;
  }
}

#next {
  background-color: $active-button-color;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);

  &:hover {
    border: 1px solid $text-color;
    background: none;
    color: $text-color;
  }
}

#prev {
  border: 1px solid $input-border-color;

  &:hover {
    background-color: $active-button-color;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}