.form {
  background-color: white;
  border-radius: $border-radius-size;
  padding: 32px;

  &__title-counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font: 500 16px "OnestMedium";
  }

  &__counter {
    color: $placeholder-color;
    font-size: 14px;
  }
}

.fieldset {
  border: none;
}