@import "base/normalize.css";
@import "base/variables";
@import "pages/main/mainPage";


@font-face {
  font-family: "OnestMedium";
  src: url("fonts/OnestMedium500.ttf");
}
@font-face {
  font-family: "OnestRegular";
  src: url("fonts/OnestRegular400.ttf");
}

body {
  background-color: $main-background-color;
  font: $text-font;
  color: $text-color;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}